<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="menu">
    <nav class="teal darken-3"> <!-- Adicionando cor -->
        <div class="nav-wrapper container">
            <ul class="right">
            <li><a th:href="@{/}">Início</a></li>
            <li><a th:href="@{/clientes}">Clientes</a></li>
            <li><a th:href="@{/pedidos}">Pedidos</a></li>
            <li><a th:href="@{/relatorios}">Relatórios</a></li>
        </ul>
    </nav>
</div>
</body>
</html>
