<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Clientes</title>
</head>

<body>
    <div th:replace="~{fragments/menu :: menu}"></div>

    <!-- Mensagem de sucesso -->
    <div th:if="${sucesso}" style="color: white; background-color: green; font-weight: bold; 
         font-size: 16px; border: 2px solid darkgreen; padding: 10px; border-radius: 5px; 
         margin-bottom: 15px; text-align: center;">
        ✅ <p th:text="${sucesso}" style="margin: 0;"></p>
    </div>

    <!-- Mensagem de erro -->
    <div th:if="${erro}" style="color: white; background-color: red; font-weight: bold; 
         font-size: 16px; border: 2px solid darkred; padding: 10px; border-radius: 5px; 
         margin-bottom: 15px; text-align: center;">
        ⚠️ <p th:text="${erro}" style="margin: 0;"></p>
    </div>
    
    <h1>Lista de Clientes</h1>

    <form th:action="@{/clientes/busca}" method="get">
        <input type="text" name="termo" placeholder="Digite o nome do cliente">
        <button type="submit">Buscar</button>
    </form>
    <br></br>

    <a th:href="@{/clientes/novo}">
        <button type="button">Adicionar Novo Cliente</button>
    </a>

    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>CPF/CNPJ</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${clientes.empty}">
                <td colspan="5">Nenhum cliente cadastrado.</td>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nome}">Nome</td>
                <td th:text="${cliente.email}">Email</td>
                <td th:text="${cliente.telefone}">Telefone</td>
                <td th:text="${cliente.cpfCnpj}">CPF/CNPJ</td>
                <td>
                    <a th:href="@{/clientes/editar/{id}(id=${cliente.id})}">
                        <button type="button">Editar</button>
                    </a>
                    <a th:href="@{/clientes/excluir/{id}(id=${cliente.id})}">
                        <button type="button">Excluir</button>
                    </a>

                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>