<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"th:replace="fragments/menu :: menu">
<head>
    <title>Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <a th:href="@{/clientes/novo}">Adicionar Novo Cliente</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF/CNPJ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nome}">Nome</td>
                <td th:text="${cliente.email}">Email</td>
                <td th:text="${cliente.cpfCnpj}">CPF/CNPJ</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
