<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Sistema de Certificados Digitais</title>
</head>
<body>
    <div th:replace="~{fragments/menu :: menu}"></div>

    <h1>Página Inicial</h1>
    <p>Bem-vindo ao sistema de certificados digitais. Aqui você pode gerenciar seus clientes e pedidos.</p>

    <nav>
        <ul>
            <li><a th:href="@{/clientes}">Gerenciar Clientes</a></li>
            <li><a th:href="@{/pedidos}">Gerenciar Pedidos</a></li>
        </ul>
    </nav>

    <footer th:replace="~{fragments/footer :: rodape}"></footer>
</body>
</html>