<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"th:replace="fragments/menu :: menu">
<head>
    <title>Pedidos</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>
    <a th:href="@{/pedidos/novo}">Adicionar Novo Pedido</a>
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Tipo de Certificado</th>
                <th>Data do Pedido</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.cliente.nome}">Cliente</td>
                <td th:text="${pedido.tipoCertificado}">Tipo</td>
                <td th:text="${pedido.dataPedido}">Data</td>
                <td th:text="${pedido.status}">Status</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
