<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pedidos</title>

    <!-- Importando Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
        .container {
            margin-top: 30px;
        }

        .table-header {
            background-color: #00897b;
            color: white;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div th:replace="~{fragments/menu :: menu}"></div> <!-- Navbar reaproveitada -->

    <div class="container">
        <h3 class="center-align">Lista de Pedidos</h3>

        <!-- Mensagem de erro ou sucesso -->
        <div th:if="${erro}" class="card-panel red white-text center-align">
            ⚠️ <p th:text="${erro}"></p>
        </div>
        <div th:if="${sucesso}" class="card-panel green white-text center-align">
            ✅ <p th:text="${sucesso}"></p>
        </div>

        <!-- Formulário de busca -->
        <form th:action="@{/pedidos/busca}" method="get" class="input-field">
            <input type="text" id="codigoPedido" name="termo" placeholder="Digite o código do pedido" required
                oninput="this.value = this.value.replace(/[^0-9]/g, '')">

            <button type="submit" class="btn teal">Buscar</button>
        </form>
    </div>


    <!-- Botão de adicionar novo pedido -->
    <div class="right-align">
        <a th:href="@{/pedidos/novo}" class="btn blue">Adicionar Novo Pedido</a>
    </div>

    <!-- Tabela de Pedidos -->
    <table class="striped centered">
        <thead>
            <tr class="table-header">
                <th>Cliente</th>
                <th>Código Pedido</th>
                <th>Tipo de Certificado</th>
                <th>Data do Pedido</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${pedidos.empty}">
                <td colspan="6">Nenhum pedido cadastrado.</td>
            </tr>
            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.cliente.nome}"></td>
                <td th:text="${pedido.codigoPedido}"></td>
                <td th:text="${pedido.tipoCertificado}"></td>
                <td th:text="${#temporals.format(pedido.dataPedido, 'dd/MM/yyyy')}"></td>
                <td th:text="${pedido.statusPedido}"></td>
                <td>
                    <a th:href="@{/pedidos/editar/{id}(id=${pedido.id})}" class="btn yellow black-text">Editar</a>
                    <a th:href="@{/pedidos/excluir/{id}(id=${pedido.id})}" class="btn red">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div> <!-- Footer reaproveitado -->

</body>

</html>